{% extends "base.html" %}
{% block content %}

<div class="about">
  <h2 class="destination">About</h2>
  <p>Vacation generator have specially selected list of holiday destinations. It is possible to selct any destination randomly or filter destinations by continent and even by type of holiday. That is possible by applying filter.</p>
  <p>This web site made as a personal portfolio project. It is based on HTML5, CSS3, Bits of JavaScript and Postgres Database, Main Backend Language is Python. Python web Framework - Flask. Deployed in Heroku.</p>
  <p>Secret Eastern Egg hidden as 'o' letter. It is a pathway to option of adding database with new holiday destination data.</p>
  <p>Author: Santa Baltmane</p>
  <p>Made on March 2020</p>

</div>
{% endblock %}
