<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="../static/data.css">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Montserrat&display=swap" rel="stylesheet">
    <title>Data Input for generator</title>
  </head>
  <body>
    <div class="container">
      <div class="saved">
        <h2>Thank you! Place is saved!</h2>
        <a href="{{url_for('add_data')}}">Add more</a>
        <a href="{{url_for('index')}}">Home</a>
      </div>
    </div>
  </body>
</html>
